<h1>These are your tweets</h1>

<% if @tweets == nil %>
 You currently have no tweets
 <% else %>
 <table>
   <thead>
     <tr>
       <th>
         Tweet name
       </th>
       <th>
         Created at
       </th>
       <th>
         Last updated at
       </th>
       <th>
         Edit
       </th>
       <th>
         Delete
       </th>
     </tr>
   </thead>
   <tbody>
     <% @tweets.each do |tweet| %>
     <tr>
       <td>
         <%= tweet.body %>
       </td>
       <td>
         <%= tweet.created_at.to_formatted_s(:long_ordinal) %>
       </td>
       <td>
         <%= tweet.updated_at.to_formatted_s(:long_ordinal) %>
       </td>
       <td>
         <%= link_to "edit tweet", edit_tweet_path(tweet.id) %>
       </td>
       <td>
         <%= link_to "delete tweet", tweet_path(tweet.id), method: :delete %>
       </td>
     </tr>
     <% end %>

   </tbody>
 </table>
 <% end %>


<%= link_to "Go back to the main page", welcome_path %>

<%= link_to "Post new tweet", new_tweet_path %>
