<h1>You are now viewing <%= @user.name %>'s tweets! </h1>

<% if @tweets == nil %>
<%= @user.name %> currently has no tweets

<% else %>
<% @tweets.each do |tweet| %>
  <article class="tweet">
  <p>
    <%= link_to "#{tweet.body}", tweet_path(tweet.id) %>
  </p>
  <cite>
    <%= link_to "@#{tweet.user.name}", profile_path(tweet.user_id) %> |
    <span>  <%= tweet.time %> </span>
  </cite>
  </article>
<% end %>
<% end %>

<br>

<%= link_to "Back to all tweets", welcome_path %>
