<h1>You are now viewing <%= @user.name %>'s tweets! </h1>

<% if FollowUser.find_by(follower_id: session[:user_id], followee_id: params[:user_id]) == nil %>
<button type="button" class="btn btn-default">
<img src="https://upload.wikimedia.org/wikipedia/it/0/09/Twitter_bird_logo.png" alt="" height="24" width="24" />
  <%= link_to "Follow #{@user.name}", follow_users_path(@user.id),method: :post %>
</button>


<% else %>
<button type="button" class="btn btn-default">
  <img src="https://upload.wikimedia.org/wikipedia/it/0/09/Twitter_bird_logo.png" alt="" height="24" width="24" />
  <%= link_to "Unfollow #{@user.name}", follow_users_path(@user.id), method: :delete %>
</button>

<% end %>

<br>

<% if @tweets == [] %>
<h5> <%= @user.name %> currently has no tweets </h5>

<% else %>
<% @tweets.each do |tweet| %>
  <article class="tweet">
  <p>
    <%= link_to "#{tweet.body}", tweet_path(tweet.id) %>
  </p>
  <%= link_to "@#{tweet.user.name}", profile_path(tweet.user_id) %>
  <cite>|
    <span>  <%= tweet.time_elapsed %> </span>
  </cite>
  </article>
<% end %>
<% end %>

<br>

<button type="button" class="btn btn-default">
  <%= link_to "Back to all tweets", welcome_path %>
</button>
<button type="button" class="btn btn-default">
  <%= link_to "Go to your tweets", tweets_path %>
</button>
