<h1>You are now viewing <%= @user.name %>'s tweets! </h1>

<% if @tweets == nil %>
<%= @user.name %> currently has no tweets

<% else %>
<table>
  <thead>
    <tr>
      <th>
        Tweet name
      </th>
      <th>
        Created at
      </th>
      <th>
        Updated at
      </th>
    </tr>
  </thead>
  <tbody>
    <% @tweets.each do |tweet| %>
    <tr>
      <td>
        <%= tweet.body %>
      </td>
      <td>
        <%= tweet.created_at.to_formatted_s(:long_ordinal) %>
      </td>
      <td>
        <%= tweet.updated_at.to_formatted_s(:long_ordinal) %>
      </td>
    </tr>
    <% end %>

  </tbody>
</table>
<% end %>

<%= link_to "Back to all tweets", welcome_path %>
