<br>
<article class="tweet">
  <p>
    <%= @tweet.body %>
  </p>
  @<%= @tweet.user.name %>
  <cite>|
    <%= @tweet.time_elapsed %>
  </cite>
</article>

<br>
<article class="tweet">
  <cite style="font-size:8px;">
    created at <%= @tweet.created_at.to_formatted_s(:long_ordinal) %>
    <br>
    <%= "updated at #{@tweet.updated_at.to_formatted_s(:long_ordinal)}" unless @tweet.created_at == @tweet.updated_at %>
  </cite>
</article>
<br>

<button type="button" class="btn btn-default">
  <%= link_to "Back to all tweets", welcome_path %>
</button>
<button type="button" class="btn btn-default">
  <%= link_to "Go to your tweets", tweets_path %>
</button>
