<br>
<article class="tweet">
<p>
  <%= @tweet.body %>
</p>
<cite>
  @<%= @tweet.user.name %> |
  <%= @tweet.time %>
</cite>
</article>

<br>
<article class="tweet">
<cite style="font-size:8px;">
  created at <%= @tweet.created_at.to_formatted_s(:long_ordinal) %>

  <br>

  updated at <%= @tweet.updated_at.to_formatted_s(:long_ordinal) %>
</cite>
</article>
<br>
<%= link_to "Back to your tweets", tweets_path %>
