<h1>this is your main feed </h1>

<% if @tweets == nil %>
 There are currently no tweets to show

<% else %>
<table>
  <thead>
    <tr>
      <th>
        Tweet name
      </th>
      <th>
        Posted by
      </th>
      <th>
        Created at
      </th>
      <th>
        Updated at
      </th>
    </tr>
  </thead>
  <tbody>
    <% @tweets.each do |tweet| %>
    <tr>
      <td>
        <%= tweet.body %>
      </td>
      <td>
        <%= tweet.user.name %>
      </td>
      <td>
        <%= tweet.created_at.to_formatted_s(:long_ordinal) %>
      </td>
      <td>
        <%= tweet.updated_at.to_formatted_s(:long_ordinal) %>
      </td>
    </tr>
    <% end %>

  </tbody>
</table>
<% end %>

<%= link_to "Go to your tweets", tweets_path %>
