<h1>Followed Users </h1>

<% if @tweets == [] %>
<h5>You are currently not following any users</h5>

<% else %>

<% @tweets.each do |tweet| %>
<article class="tweet">
  <p>
    <%= link_to "#{tweet.body}", tweet_path(tweet.id) %>
  </p>
  <%= link_to "@#{tweet.user.name}", profile_path(tweet.user_id) %>
  <cite>|
    <% if tweet.user_id == current_user.id %>
      <%= link_to "edit", edit_tweet_path(tweet.id)  %> |
      <%= link_to "delete", tweet_path(tweet.id), method: :delete  %> |
    <% end %>

    <%= tweet.time_elapsed %>
  </cite>
</article>
<% end %>

<% end %>
<br>
<button type="button" class="btn btn-default">
  <%= link_to "Go to your tweets", tweets_path %>
</button>

<button type="button" class="btn btn-default">
  <%= link_to "Post new tweet", new_tweet_path %>
</button>
