<!DOCTYPE html>
<html>
<head>
  <title>Twittest</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <main>
    <% if current_user %>
    <span>Welcome, <%= current_user.email.split("@").first %> </span> |
    <%= link_to "Your feed", tweets_path  %> |
    <%= link_to "All tweets", welcome_path  %> |
    <%= link_to "Log out", login_path, method: :delete %>
    <% else %>
    <%= link_to "Sign Up", new_user_path %> |
    <%= link_to "Login", login_path %>
    <% end %>
    <%= yield %>
  </main>
</body>
</html>
